<%= render "shared/header" %>

<div class="new-edit-profile-main">
  <div class="font-size-twenty-five">
    <h2>
      あなたのプロフィール文
    </h2>

    <%= form_with model: @profile, url: profile_path, method: :patch, local: true do |f| %>

      <div class="error-messages">
        <%= render 'shared/error_messages', model: f.object %>
      </div>

    <%= f.text_area :text, class:"text", id:"text_id", placeholder:"プロフィールを入力してください（未記入可）", cols: "50", rows: "10" %>

    <div>
      <%= f.submit "編集する", class: "edit-btn" %>
    </div>

    <% end %>
  </div>
</div>

<%= render "shared/footer" %>