<% if user_signed_in? && current_user.id == @user.id %>
  <div>
    あなたのプロフィール
  </div>

  <% if @profile == nil %>
    <div>
      <%= link_to "プロフィール文を作成する", new_profile_path %>
    </div>
    <b>
      プロフィール文がありません。
    </b>
  <% else %>
    <div>
      <%= link_to "編集する", "#" %>
    </div>
    <b>
      プロフィール文
    </b>
    <div>
      <%= simple_format(@profile.text) %>
    </div>
    <div>
      <%= "単語投稿回数：" %><b><%= "#{@profile.user.content_count}回" %></b>
    </div>
    <div>
      <%= "意味投稿回数：" %><b><%= "#{@profile.user.description_count}回" %></b>
    </div>
    <div>
      <%= "例文投稿回数：" %><b><%= "#{@profile.user.sentence_count}回" %></b>
    </div>
    <div>
      <%= "日記投稿回数：" %><b><%= "#{@profile.user.diary_count}回" %></b>
    </div>
  <% end %>

<% else %>
  <%= "#{@user.nickname}さんのプロフィール" %>
<% end %>