<%= render "shared/header" %>

<%= form_with model: @content, url: content_path, method: :patch, local: true do |f| %>

  <div class="new-show-content-main">
    <h2>
      <%= "#{@content.word}を編集" %>
    </h2>

    <div class="error-messages">
      <%= render 'shared/error_messages', model: f.object %>
    </div>

    <div class="font-size-twenty-five">
      <%# 品詞 %>
      <div>
        品詞
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:part_id, Part.all, :id, :name, {}, {class:"select-box", id:"content-part"}) %>

      <%# 単語 %>
      <div>
        単語
        <span class="indispensable">必須</span>
      </div>
      <div>
        <%= f.text_field :word, class:"word-input", id:"word_id"%>
      </div>

      <div class="caution">
        ※固有名詞の追加は禁止です。
      </div>

      <%# 送信ボタン %>
      <div>
        <%= f.submit "更新する", class:"edit-btn" %>
      </div>
    </div>
  </div>

<% end %>

<%= render "shared/footer" %>