<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>
  WordStockへようこそ
</h1>

<div>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>

<h2>
  WordStockとは
</h2>

<div>
  皆さんで作り上げていく辞書のアプリです。アプリ作成時の単語登録数は0からスタートです。
  <br>追加されていない単語を追加していきましょう。（既に存在する単語は追加できません。）
  <br>また、単語に関する例文を考えて投稿してください。文法は間違えていても構いません。とにかく能動的に学習することです。
  <br>例文は他のユーザーからフィードバックをもらうことができます。
  <br>他のユーザーの例文が不自然であると感じたらその例文に対してフィードバックしましょう。
</div>

<div>
  <%= link_to '単語追加', new_content_path %>
<div>

<%# 単語一覧 %>
<div>
  <div>単語一覧</div> 
  <%# 部分テンプレートで単語一覧を表示する %>
  <%= render partial: 'content', collection: @contents %>
</div>