<%= render "shared/header" %>

  <div class="ok-flash">
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

<div class="main">
  <div class="left-content">
    <div class="contents">
      <%# 単語一覧 %>
      <div>
        <h2>
          単語一覧
        </h2>
        <% if user_signed_in? %>
          <div class="position-center">
            <%= link_to '単語追加', new_content_path, class:"new-btn" %>
          </div>
        <% end %>
        <div class="contents-group">
          <%= content_lists(@contents) %>
        </div>
      </div>
    </div>
  </div>


  <div class="right-content">
    <div class="ranking-group">
      <h2>
        ランキング
      </h2>

      <h3 class="contents-ranking">単語投稿回数</h3>
      <% @content_post_ranking.each.with_index(1) do |content, i| %>
        <div class="rank">
          第
          <%= i %>
          位
          <%= link_to "#{content.nickname}さん", profile_path(content.id), class: "ranking-nickname" %> <%= "#{content.content_count.to_i}回" %>
        </div>
      <% end %>
      <h3 class="descriptions-ranking">意味投稿回数</h3>
      <% @description_post_ranking.each.with_index(1) do |description, i| %>
        <div class="rank">
          第
          <%= i %>
          位
          <%= link_to "#{description.nickname}さん", profile_path(description.id), class: "ranking-nickname" %><%= "#{description.description_count.to_i}回" %>
        </div>
      <% end %>
      <h3 class="sentences-ranking">例文投稿回数</h3>
      <% @sentence_post_ranking.each.with_index(1) do |sentence, i| %>
        <div class="rank">
          第
          <%= i %>
          位
          <%= link_to "#{sentence.nickname}さん", profile_path(sentence.id), class: "ranking-nickname" %><%= "#{sentence.sentence_count.to_i}回" %>
        </div>
      <% end %>
      <h3 class="diaries-ranking">日記投稿回数</h3>
      <% @diary_post_ranking.each.with_index(1) do |diary, i| %>
        <div class="rank">
          第
          <%= i %>
          位
          <%= link_to "#{diary.nickname}さん", profile_path(diary.id), class: "ranking-nickname" %><%= "#{diary.diary_count.to_i}回" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

