<%= render "shared/header" %>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="show-content-main">
  <% if user_signed_in? %>
    <div class="position-right">
      <%= link_to "単語を編集", edit_content_path(@content.id), class: "edit-btn" %>
    </div>
  <% end %>
  <div class="show-content-top">
    <div class="show-content-top-left">
      <div class="word">
        <%= @content.word %>
      </div>

      <div>
        <%= @content.part.name %>
      </div>
    </div>

    <div class="show-content-top-right">
      <h2>
        <%= link_to "#{@content.word}の編集履歴", content_contents_history_path(@content.id), class:"edited-history" %>
      </h2>
      <% @contents_histories.each do |history| %>
        <div>
          <%= link_to "#{history.user.nickname}さん", profile_path(history.user.id), class: "edited-nickname" %>
          <br><%= history.created_at.strftime("%Y-%m-%d %H:%M") %>
        </div>
        <div>
          <%= history.word %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="show-content-bottom">
    <div class="bottom-description">
      <h2>
        意味
        <% if user_signed_in? %>
          <%= link_to "＋", new_content_description_path(@content.id), class: "plus-btn" %>
        <% end %>
      </h2>

      <div class="show-content-description-group">
        <% if @descriptions.present? %>
          <% @descriptions.each do |description| %>
            <div class="show-content-description">
              <div>
                <%= link_to "#{description.user.nickname}さん", profile_path(description.user.id) %>
              </div>
              <div>
                <%= simple_format(description.english_text) %>
              </div>
              <% if user_signed_in? && description.user.id == current_user.id %>
                <%= link_to "編集", edit_content_description_path(@content.id, description.id), class: "edit-btn" %>
                <%= link_to "削除", content_description_path(@content.id, description.id), method: :delete, class: "delete-btn" %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          意味のデータが存在しません
        <% end %>
      </div>
    </div>

    <div class="bottom-sentence">
      <h2>
        例文
        <% if user_signed_in? %>
          <%= link_to "＋", new_content_sentence_path(@content.id), class: "plus-btn" %>
        <% end %>
      </h2>

      <% if @sentences.present? %>
        <% @sentences.each do |sentence| %>
          <div class="bottom-one-sentence">
            <div class="bottom-sentence-info">
              <div>
                <%= link_to "#{sentence.user.nickname}", profile_path(sentence.user.id) %>
              </div>
              <div>
                <%= sentence.created_at.strftime("%Y-%m-%d %H:%M") %>
              </div>
            </div>
            <br><b>英語</b>
            <div>
              <%= simple_format(sentence.english_text) %>
            </div>

            <% if sentence.japanese_text.present? %>
              <div>
                <b>日本語</b>
              </div> 
              <div>
                <%= simple_format(sentence.japanese_text) %>
              </div>
            <% end %>

            <% if user_signed_in? && sentence.user.id == current_user.id %>
              <%= link_to "編集", edit_content_sentence_path(@content.id, sentence.id),class: "edit-btn" %>
              <%= link_to "削除", content_sentence_path(@content.id, sentence.id), method: :delete, class: "delete-btn" %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div>
          例文のデータが存在しません
        </div>
      <% end %>
    </div>
  </div>
</div>