<%= render 'shared/header' %>

<%= form_with model: @sentence, url: content_sentence_path, method: :patch, local: true do |f| %>


  <div class="font-size-twenty">
    <h2 class="position-center">
      例文を編集
    </h2>

    <div class="position-center">
        <% if flash[:alert] %>
          <%= flash[:alert] %>
        <% end %>
      </div>
    </div>

    <div class="error-messages">
      <%= render 'shared/error_messages', model: f.object %>
    </div>

    <div class="new-edit-sentences-main">
      <div class="english-text">
        <div>
        英語のテキスト
        </div>

        <div>
          <%= f.text_area :english_text, class:"english_text", placeholder: "English text only（必須）", cols: 50, rows: 10 %>
        </div>
      </div>

      <div class="japanese-text">
        <div>
          日本語のテキスト
        </div>
        <div>
          <%= f.text_area :japanese_text, class:"japanese_text", placeholder: "日本語だけを入力（未記入でも可）", cols: 50, rows: 10 %>
        </div>
      </div>
    </div>
  </div>

  <div class="position-center">
    <%= f.submit "編集する", class:"edit-btn"  %>
  </div>

<% end %>
