<%= render "shared/header"%>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h1>
  あなたの日記
</h1>

<div>
  <%= link_to "日記を作成する", new_diary_path %>
</div>

<% if @diaries.exists? %>

  <% @diaries.each do |diary|  %>

    -----------------------
    <div>
      <div>
        <%= diary.created_at%>
      </div>

      <div>
        タイトル
        <%= diary.title %>
      </div>

      <div>
        内容
        <%= diary.text %>
      </div>
    </div>

    <% if user_signed_in? && current_user.id == diary.user_id %>
      <div>
        <%= link_to "編集", edit_diary_path(diary.id) %>
        <%= link_to "削除", diary_path(diary.id), method: :delete %>
      </div>
    <% end %>
  <% end %>

<% else %>

  表示できる日記がありません。

<% end %>