<footer class="footer-contents">
  <div class="about-me">
    製作者について
  </div>
  <div class="portfolio">
    <div class="footer-left">
      <ul>
        <li><%= link_to "WyvezのGithub", "https://github.com/Chukoto/wyvez", class: "footer-link" %></li>
        <li><%= link_to "WordSrockのGithub", "https://github.com/Chukoto/wordstock", class: "footer-link" %></li>
      </ul>
    </div>
    <div class="footer-right">
      <ul>
        <li><%= link_to "Github", "https://github.com/chukoto", class: "footer-link" %></li>
        <li><%= link_to "Qiita", "https://qiita.com/NedzumiNeko", class: "footer-link" %></li>
        <li><%= link_to "Twitter", "https://twitter.com/NedzumiNeko", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</footer>